.cardContainer {
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  
  .card-header {
    background-color: rgb(21, 28, 78);
    color: white;
    font-weight: 700;
  }
  
  .card-body {
    padding: 0.5rem;
  }
  
  .imgEnviar:active {
    transform: scale(0.9);
  }
  
  .enviado {
    display: block;
    float: right;
    background-color: rgb(73, 179, 149);
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    margin: 0.5rem 0;
    clear: both; /* Agregado para evitar superposición de mensajes */
  }
  
  .recibido {
    display: block;
    float: left;
    background-color: rgb(125, 163, 252);
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    margin: 0.5rem 0;
    clear: both; /* Agregado para evitar superposición de mensajes */
  }
  
  .contenedorMensajes {
   
      overflow-y: auto; /* Usar "auto" para mostrar la barra de desplazamiento solo cuando sea necesario */
      max-height: 350px; /* Ajusta la altura máxima según tus necesidades */
    
  }
  
  .contenedorMensajes::-webkit-scrollbar {
    display: none;
  }
  
  .chatIconContainer {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .chatIcon {
    width: 40px;
    height: 40px;
  }
  
  .closeIcon {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
  }
  
  .hora {
    font-size: x-small;
    text-decoration: none;
  }