<body>

    <div class = "container">

        <nav class="navbar navbar-light" style="background-color: #dc3545;">
            <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="../../../assets/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
              {{userEmail}}
            </a>

            <div class="ml-auto">
                <button type="button" class="btn btn-warning mx-2 my-2" (click)="quienSoy()">Quién soy</button>
                <button type="button" class="btn btn-warning mx-2 my-2" (click)="logOut()">Log Out</button>
            </div>


        </nav>

        <h1 class=" text-light">Bienvenido a la Sala de Juegos</h1>
    
        <div class="card-group ms-5 me-5 mt-3">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/ahorcado.jpg" alt="Card image cap"  style="height:16rem">
                        <div class="card-body text-center">
                          <h5 class="card-title">Ahorcado</h5>
                          <p class="card-text">Adivina la palabra</p>
                          <a routerLink="/ahorcado" class="btn btn-primary">Jugar ahora!</a>
                        </div>
                    </div>
                </div>
                
               

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/preguntados.jpeg" alt="Card image cap"  style="height:16rem">
                        <div class="card-body text-center">
                          <h5 class="card-title">Geo Preguntados</h5>
                          <p class="card-text">Adivina las banderas</p>
                          <a routerLink="/preguntados" class="btn btn-primary">Jugar ahora!</a>
                        </div>
                    </div>
                </div> 
                
            
            <!--</div> !-->
            

            

               <!-- <div class="row justify-content-center mt-3">!-->

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/img/mayorMenor.png" alt="Card image cap" style="height:16rem">
                            <div class="card-body text-center">
                              <h5 class="card-title">Mayor o Menor</h5>
                              <p class="card-text">Adivina el valor de la carta</p>
                              <a routerLink="/mayor-o-menor" class="btn btn-primary">Jugar ahora!</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/img/millenium.jpg" alt="Card image cap" style="height:16rem">
                            <div class="card-body text-center">
                              <h5 class="card-title">Millenium</h5>
                              <p class="card-text">Adivina los numeros de los dados</p>
                              <a routerLink="/millenium" class="btn btn-primary">Jugar ahora!</a>
                            </div>
                        </div>
                    </div> 
                    
                    
                
                </div>


            


            
        </div>

        <app-chat></app-chat>

        

    </div>
    </body>
    
    