<body>

    <div class = "container">
            <h1 class=" text-light">Bienvenido a la Sala de Juegos</h1>
    
    
    
    
        <div class="card-group ms-5 me-5 mt-5">
        
            <div class="card col-md-4 mx-2">
            <img src="../../../assets/img/perfil2.png"  alt="..."  style="height:300px" class="card-img-top">
            <div class="card-body ">
                <h5 class="card-title text-center">Presentacion</h5>
                <p class="card-text">Hola! Soy Agustina Bilotta, estudiante de la Tecnicatura Universitaria en Programación</p>
                <p class="card-text"><small class="text-muted"><a href="#" routerLink="/quien-soy">Leer más</a></small></p>
            </div>
            </div>
            
            <div class="card col-md-4 mx-2">
                <img src="../../../assets/img/cards2.png"  alt="cartas" class="card-img-top" style="height:300px; width: 520px;" class="card-img-top">
        
            <div class="card-body">
                <h5 class="card-title text-center">Mayor o Menor</h5>
                <p class="card-text">Este juego consiste en desafiar al azar, el jugador debera adivinar si la carta siguiente sera mayor o menor a la actual.</p>
                <p class="card-text"><small class="text-muted"><a href="#">Jugar ahora!</a></small></p>
            </div>
            </div>
            
            <div class="card col-md-4 mx-2">
            <img src="../../../assets/img/3D.jpg"  class="card-img-top" alt="dados" style="height:300px; width: 520px;" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center">Millenium</h5>
                <p class="card-text">Desafía al cubilete! Tendras que sacar el 1 o el 5 para poder sumar puntos hasta el 1000, sino perderás una vida.</p>
                <p class="card-text"><small class="text-muted"><a href="#">Jugar ahora</a></small></p>
            </div>
            </div>
        </div>

    </div>
    </body>
    
    