<body>
    

    <div class="container">
    
    
        <div class="card text-center mx-2">
            <div class="card-header bg-dark text-white">
                <b>Ya tenes cuenta?</b>
            </div>
    
            <div class="card-body p-4 bg-light">
    
                <label style="float: left">Usuario</label>
                <input type="email" class="form-control m-2" placeholder="Email" [(ngModel)]="usuario.email" >
    
                <label style="float: left">Password</label>
                <input type="password" class="form-control m-2" placeholder="Password" [(ngModel)]="usuario.password"  >
    
                <button type="button" class="btn btn-success m-2" (click)="Ingresar()">Ingresar</button><br/>
                <button type="button" class="btn btn-success m-2" (click)="autocompletarUsuario()">Autocompletar</button><br/>


                <p class = "text-danger">{{mensaje}}</p>
                <p>Aun no estas registrado? <a routerLink="/registro">Registrarme</a></p>

                
            </div>
        
        </div>   
    
    
    
    </div>
    </body>

    <router-outlet></router-outlet>