.container{
    
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    


}

body{


    background-image: url(../../../assets/img/5212968.jpg);
    background-size: 100%;

}