<body>
    
    <h1><span class="badge bg-info position-absolute start-50 translate-middle">Hola, soy Agustina Bilotta!</span></h1>


    
    <div id="div-img">
            <img src="../../../assets/img/perfil2.png" style="height: 300px; width: auto;">
    </div>

    <div class="card mb-3 bg-info my-4 mx-4">
            <div class="card bg-dark mx-2 my-2">
                <div class="card-body">
                <p class="text-light text-center h5">Tengo 24 años y soy estudiante de la Tecnicatura Univerisitaria en Programación de la UTN.<br/>
                Esta es mi sala de juegos en donde pueden encontrar el juego "Mayor o Menor" y "Millenium". Esta página web forma parte de un Trabajo Práctico de la materia Laboratorio IV</p>
                </div>
            </div>

            <div class="card bg-dark mx-2 my-2">
                <div class="card-body">
                <p class="text-light text-center h5">Instrucciones de Millenium: el jugador contará con 3 vidas ❤❤❤, debera tirar los cinco dados, en la tirada debera sacar 1 o 5, sino perderá una ❤. Estos dos numeros serán los que sumarán puntos, el numero 1 sumará 100 puntos, y el numero 5 sumará 50 puntos. El jugador ganará el juego cuando llegue a los MIL puntos.</p>
                </div>
            </div>

    </div>

</body>