body{
    background-image: url("../../../assets/img/5212968.jpg");
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
}

h1{
    margin-top: -500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
}

#div-img{
    justify-content: center;
    text-align: center;
    align-items: center;
}