

<body>

	<div class="container">

		<div class="row">
		

			<div class="col">
				<div *ngIf="partidaGanada">
					<app-ganador></app-ganador>
				</div>

				<div *ngIf="partidaPerdida">
					<app-perdedor></app-perdedor>
				</div>
			</div>
			

			<div class="col-6">
				
				<br/><br/>
				<h1 class="text-center text-light ">Ahorcado</h1>
				<br/>

				<div id="container" (click)="manejarClicTeclado($event)">
					<h1 class="text-center text-warning" style="text-transform:uppercase;">{{solucionString}}</h1><br/><br/>

					<ul id="keyboard">
						
						<li class="return" [ngClass]="{'disabled': !gameEnabled}" (click)="manejarClicTeclado($event)">ENT</li>
						
						<li class="key">q</li>
						<li class="key">w</li>
						<li class="key">e</li>
						<li class="key">r</li>
						<li class="key">t</li>
						<li class="key">y</li>
						<li class="key">u</li>
						<li class="key">i</li>
						<li class="key">o</li>
						<li class="key">p</li>
						<li class="key">a</li>
						<li class="key">s</li>
						<li class="key">d</li>
						<li class="key">f</li>
						<li class="key">g</li>
						<li class="key">h</li>
						<li class="key">j</li>
						<li class="key">k</li>
						<li class="key">l</li>
						<li class="key">z</li>
						<li class="key">x</li>
						<li class="key">c</li>
						<li class="key">v</li>
						<li class="key">b</li>
						<li class="key">n</li>
						<li class="key">m</li>
						<li class="return" [ngClass]="{'disabled': !gameEnabled}" (click)="manejarClicTeclado($event)">ENT</li>
					</ul>
				</div>


			</div>
				
			<div class="col">
				<div class="card border-secondary mb-3 mx-auto" style="max-width: 12em; top: 7em;"> <!-- Segunda tarjeta -->
					<div class="card-header text-center bg-info">Vidas</div>
					<div class="card-body text-secondary bg-light">
						<p class="card-text text-center">{{vidasString}}</p>
					</div>
				</div>
			</div>










		
		</div>
	
	</div>

</body>