<body>
    <div class="card" style="width: 18rem; position: absolute; left: 2em; top:8em;">
      <img class="card-img-top" src="../../../assets/img/gameOver.png" alt="GameOver" >
      <div class="card-body">
        <h5 class="card-title card-text text-center text-light">Perdiste!</h5>
        <p class="card-text text-center text-light">Dirigete al Home para probar otros juegos</p>
        <div class="center-button">
          <button type="button" class="btn btn-warning mx-2 my-2" (click)="irAlHome()">Home</button>
        </div>
      </div>
    </div>
  </body>
